body {
  margin-bottom: 3rem;
}

.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1544894079-e81a9eb1da8b");
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1503614472-8c93d56e92ce");
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b");
}

.carousel-item {
  height: 32rem;
}
